<aside class="menu-sidebar">
  <img class="logo" src="assets/logo/logo.svg">

  <div class="menu-sidebar-items mt-5">
    <nav class="navbar-sidebar" >
      <ul class="">

        <li >
          <a class="highlighted-menu" routerLinkActive="active" routerLink="invoice">
            <fa-icon icon="file-invoice"></fa-icon>
            <span>Recibo</span>
          </a>
        </li>

        <li >
          <a class="highlighted-menu" routerLinkActive="active" routerLink="calendar">
            <fa-icon icon="calendar"></fa-icon>
            <span>Planejamento de post</span>
          </a>
        </li>




      </ul>
    </nav>
  </div>
</aside>
